*:not(i) {
	font-family: Arial, Helvetica, sans-serif;
	color: #eee;
	margin: 0px;
	font-size: 3vh;
}

h1 {
	font-size: 6vh;
}

body {
	background: linear-gradient(#363a3f, #2c3035);
	background-attachment: fixed;
	height: 100vh;
	margin: 4px;

	padding-left: 8vh;
}

body::-webkit-scrollbar {
	display: none;
}

button {
	border: none;
	background: none;
	cursor: pointer;
	padding: none;
}

#tooltip {
	position: fixed;
	top: 100%;
	left: 1px;
	background-color: #2a2835;
	border: 0.25vh solid #333141;
	padding: 1vh;
	border-radius: 5px;
	width: fit-content;
	opacity: 0;
	transition: opacity 0.1s ease;
	pointer-events: none;
}

#tooltip.active {
	opacity: 1;
}

#tooltip h2 {
	font-size: 2vh;
}