#tooltip {
	position: fixed;
	top: 100%;
	left: 1px;
	background-color: #2a2835;
	border: 0.25vh solid #333141;
	padding: 1vh;
	border-radius: 5px;
	width: fit-content;
	opacity: 0;
	transition: opacity 0.1s ease;
	pointer-events: none;
}

#tooltip.active {
	opacity: 1;
	pointer-events: all;
}

#tooltip h2 {
	font-size: 2vh;
}

#tooltip button {
	width: fit-content;
	min-width: 100%;
	max-width: 25vh;
	color: #eee;
	background-color: #2a2835;
	border-top: 0.25vh solid #333141;
	text-align: left;
	font-size: 3vh;
}

#tooltip button:first-child {
	margin-top: 2vh;
}

#tooltip button:hover {
    background-color: #393746;
}
