#video-player {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;

	opacity: 1;

	transition: opacity 0.5s;
}

#video-player.hidden {
	opacity: 0;
	pointer-events: none;
}

#video-player video {
	width: 100%;
	height: 100%;
}

#video-player #video-info {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	padding: 1vh;
	padding-left: 2vh;

	background-color: #1816169c;
	backdrop-filter: blur(5px);

	opacity: 1;
	transition: opacity 0.5s;
}

#video-player #video-info.hidden {
	opacity: 0;
	pointer-events: none;
}

#video-player #video-info .episode-name {
	margin-top: 15vh;
	font-size: 5vh;
}

#video-player #video-info .anime-description {
	margin-top: 2vh;
	white-space: pre-wrap;
	max-width: 80%;
}

#video-player #video-controls {
	height: 7vh;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #36364457;
	backdrop-filter: blur(5px);

	display: flex;
	padding-top: 2vh;

	line-height: 6vh;

	transition: bottom 0.2s ease;
}

#video-controls.hidden {
	bottom: -9vh !important;
}

#video-controls i {
	margin: 1vh 2vh;
	cursor: pointer;
}

#video-controls .fullscreen-btn {
	position: absolute;
	right: 1vh;
	top: 2vh;
	font-size: 4vh;
	cursor: pointer;
}

#video-controls .fullscreen-btn:hover {
	transform: scale(120%);
}

#video-controls .progress-container {
	height: 1.5vh;
	background-color: #22222c80;
	position: absolute;
	left: 1vh;
	right: 1vh;
	top: 0px;
	border-radius: 50px;
	overflow: hidden;
}

#video-controls .progress-container div {
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

#video-controls .progress-container .progress {
	background-color: #e74c3c;
}

#video-controls .progress-container .buffered {
	background-color: #46464680;
}

#video-controls .progress-container .seeking {
	background-color: #7c7c7c80;
}

#video-controls .buttons {
	font-size: 4vh !important;
}

#video-controls .buttons i:first-child {
	margin-right: 0px;
}

#video-controls .info {
	display: flex;
}

#video-controls .info input {
	margin-top: 2vh;
	margin-right: 1vh;
	height: 2vh;
	-webkit-appearance: none;
	background-color: #23232c;
	overflow: hidden;
	border-radius: 50px;
	width: 22vh;
}

#video-controls .info input::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 0px;
	height: 2vh;
	background-color: #eee;
	box-shadow: -22vh 0px 0px 22vh #eee;
}

#video-player button {
	position: absolute;
	top: 2vh;
	left: 2vh;
	z-index: 5;
}

#video-player .loader {
	position: absolute;
	top: 0;
	bottom: 9vh;
	left: 0;
	right: 0;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 8vh;
	color: #e74c3c;

	backdrop-filter: blur(5px);
	opacity: 1;

	transition: opacity 0.1s;
}

#video-player .loader.hidden {
	opacity: 0;
}
