#controls {
	position: fixed;
	width: 100%;
	height: 350px;
	top: calc(100% - 70px);
	left: 0px;
	right: 0px;
	background-color: var(--background-second);

	transition: top 0.15s ease;

	line-height: 65px;
}

#controls.hidden {
	top: 100% !important;
}

#controls.hidden + .search-stuff #searchBtn {
	display: none;
}

#controls.queue-visible {
	top: calc(100% - 350px);
}

#controls .name {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	padding: 5px;
}

#controls .name .info {
	font-size: 110%;
	max-width: 35%;
	height: 70px;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	position:relative;
}

#controls .name .info:hover {
	overflow: hidden;
}

#controls .name .info:hover .name {
	animation: VideoName 5s linear infinite;
}

@keyframes VideoName {
	0% { left: 0; }
	50% { left: -100%; }
	50.1% { left: 100%; }
	100% { left: 0%; }
}

#controls .name .info .name {
	width: 100%;
	margin-top: 15px;
	margin-left: -5px;
	line-height: normal;
	height: 10px;
	white-space: nowrap;
	word-wrap: normal;
	position:relative
}

#controls .name .info > .episode {
	font-size: 80%;
	margin-top: -16px;
	line-height: normal;
}

#controls .name button {
	font-size: 200%;
	background-color: transparent;
	border: none;
	color: var(--text);
	transition: color 0.1s ease;
}

#controls .name button:hover {
	color: var(--accent);
}

#controls .top {
	border-bottom: 2px solid var(--background);
}

#controls .top .buttons {
	position: absolute;
	top: 0px;
	width: 50%;
	height: 70px;

	left: 50%;
	transform: translateX(-50%);

	display: flex;
	justify-content: center;
	align-items: center;
}

#controls .top .buttons i {
	margin: 10px;
	font-size: 150%;
	transition: color 0.1s ease;
}

#controls .top .buttons i:hover {
	color: var(--accent);
}

#controls .top #video-progress {
	position: absolute;
	top: -2.5px;
	left: 0px;
	right: 0px;
	width: 100%;
}
