#video-queue {
	display: relative;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#video-queue .queue {
	display: flex;
	align-items: center;
	padding: 5px;
	width: fit-content;
}

#video-queue .queue .video {
	height: 100%;
	width: 128px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	line-height: normal;
	text-align: center;
	margin: 5px;
}

#video-queue .queue .video .image {
	height: 180px;
}

#video-queue .queue .video .name {
	height: 30px;
}

#video-queue .queue .video.watched {
	opacity: 0.5;
	filter: brightness(0.5);
}
